.antcard {
  width: 90%;
  border-radius: 20px;
  background: #00818f;
  text-align: center;
  padding: 0rem 2rem;
}
@media only screen and (max-device-width: 1024px) {
  .antcard {
    padding: 0.2rem 1rem;
    margin-top: 1rem;
  }
}
@media only screen and (max-device-width: 768px) {
  .antcard {
    margin-top: 1rem;
  }
}
