.flex {
  display: flex;
  justify-content: center;
  align-items: center;
}
.taskcard > div {
  width: 160px;
  display: flex;
  border-radius: 20px;
  /* background: #ecbb3d; */
  text-align: left;
  padding: 1.2rem 1.2rem;
  position: relative;
}
.dateBox {
  height: 40px;
  width: 40px;
  background: #ffff;
  color: black;
  border-radius: 10px;
  box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
  position: absolute;
  bottom: -8%;
  left: 70%;
}
.taskCardSection {
  margin-top: 2rem;
  margin-bottom: 2rem;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.ant-card-bordered {
  border: 0px solid #ffff !important;
}
