.site-calendar-demo-card {
  width: 300px;
  border: 1px solid #f0f0f0;
  border-radius: 2px;
}
.ant-picker-calendar-header {
  display: none;
}
.ant-picker-body {
  background: #f8f8f8;
}
.ant-picker-content th {
  color: #c95b1d;
  font-weight: bold;
}
.ant-picker-cell-in-view.ant-picker-cell-selected .ant-picker-cell-inner {
  background: #00818f;
  border-radius: 50%;
  color: #ffff;
}
.ant-picker-cell-in-view.ant-picker-cell-today .ant-picker-cell-inner::before {
  border: 0px;
}
.ant-picker-calendar {
  background: #f8f8f8;
  padding: 2rem 2rem;
}
.ant-picker-cell
  ant-picker-cell-in-view
  ant-picker-cell-today
  ant-picker-cell-selected {
  background: #00818f;
  border-radius: 50%;
}
