.flex1 {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column;
  padding-top: 2rem;
}
.ant-menu-item-selected::before {
  content: "";
  width: 15px;
  height: 100%;
  background-color: #004d8b;

  position: absolute;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  left: 0;
}
.ant-menu-item {
  background: none !important;
}

.menubr {
  width: 205px;
  height: 100%;
  background-color: white;
  position: fixed;
  box-shadow: 1px 1px 1px 0.4px rgba(0, 0, 0, 0.2);
}

.flagIcon {
  font-size: 20px;
  color: #08c;
  /* padding-bottom: 10px; */
}
.icon {
  color: #00818f;
}
.bottonMenu {
  background: #e7eef3;
}
.CardSection {
  /* padding-bottom: 2rem; */
  padding-top: 3rem;
  padding-right: 2rem;
  padding-left: 2rem;
}
.bottomMenu {
  text-align: center;
}
.ant-drawer-body {
  padding: 0px;
}
.LeftIcon {
  float: right;
  padding: 1rem 1rem;
}
@media only screen and (max-device-width: 700px) {
  .imgBtn {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .img {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
