.flex {
  display: flex;
  justify-content: center;
  align-items: center;
}
.ant-popover-inner-content {
  padding: 0 0;
}

.UpperSection {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 2rem 1rem;

  height: 38%;
  background: #004d8b;
}
.LowerSection {
  height: 70%;
  background: #ffff;
}
.ProfileBox {
  height: 280px;
  width: 210px;
  position: absolute;
  top: -11px;
  right: -22px;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
}
.profileButton {
  flex-flow: column;
}
.PopOver {
  /* border-radius: 50%; */
}
@media only screen and (max-device-width: 1024px) {
  .antcard {
    padding: 0.2rem 1rem;
    margin-top: 1rem;
  }
}
@media only screen and (max-device-width: 768px) {
  .antcard {
    margin-top: 1rem;
  }
}
