.ant-collapse {
  background: #ffff;
  border: none;
}
.ant-collapse > .ant-collapse-item {
  border-bottom: none;
  border: none;
  border-top: none;
}
.ant-collapse
  > .ant-collapse-item.ant-collapse-no-arrow
  > .ant-collapse-header {
  padding-left: 0px !important;
}
.productFields {
  width: 63%;
}
