.Search {
  position: relative;
  top: 0%;
}
.Searchbr {
  width: 300px;
  background: #f1f1f1;
  border-radius: 10px;
}
.searchIcon {
  font-size: 16px;
  color: #1890ff;
  background: #f1f1f1;
}
.searchInput {
  width: 300px;
  background: #f1f1f1;
  border-radius: 10px;
}
@media only screen and (max-device-width: 768px) {
  .Searchbr {
    width: 200px;
  }
}
